@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SourcePro';
  src: 
  url('/fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype'),
  url('/fonts/SourceCodePro-Regular.ttf') format('truetype'),
  url('/fonts/SourceCodePro-Light.ttf') format('truetype'),
  url('/fonts/SourceCodePro-Medium.ttf') format('truetype'),
  url('/fonts/SourceCodePro-SemiBold.ttf') format('truetype');
       
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'SourcePro';
}

h1,h2,h3,h4,link,p,label,input,textarea{
  @apply text-black
}

h1{
  @apply 

  text-2xl lg:text-3xl 
  tracking-tight
}
h2{
  @apply lg:text-2xl
}
h3{
  @apply xl:text-base  
}
p{
  @apply text-sm
}

input,textarea{
  @apply 
  p-1 2xl:px-2 
  lg:py-1 
  rounded-md 
  max-w-[400px] lg:max-w-[800px] outline-none shadow-xl overflow-hidden
  hover:opacity-70
  focus:scale-[102%]
  transition-all duration-200
  min-w-[400px] xl:min-w-[550px] 2xl:min-w-[412px]
  lg:min-w-[550px]
}

label{
  @apply text-xs uppercase
}
button{
  @apply 
  cursor-pointer w-auto rounded-lg flex flex-row justify-center 
  gap-6
  text-sm lg:text-base 
  py-2 px-2 lg:p-3 bg-[#3e4d39] bg-opacity-100  self-center shadow-md text-[#7f8430]
  hover:shadow-lg hover:bg-opacity-95 hover:-translate-y-1 hover:-rotate-1
  transition-all duration-200
}
.link{
  @apply hover:text-opacity-60 transition-all duration-200 hover:-translate-y-[1px] py-1 px-2
}
.hero{
  @apply mb-12
}
.social-logo{
  @apply hover:cursor-pointer hover:scale-[245%] transition-all duration-300 scale-[220%]
}





:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
